.preloader .loader i,
.bxs-music,
.style-switcher .s-icon i,
.btn-1:hover,
.nav__name,
.nav__logo a,
.header.fixed .nav__name,
.story-section .story-item i,
.story-section .story-text h3,
.couple-section .couple .sosial-links a i,
.couple-section .couple i.bxs-heart,
.couple-section .couple h3
{
	color: #ff9800;
}
.preloader .loader:before{
	border-right: 3px solid #ff9800;
}
.bxs-music,
.btn-1,
.couple-section .couple .sosial-links a i,
.couple-section .couple img{
	border-color: #ff9800;
}

.bxs-music.pause:after,
.setting .s-toggle-btn,
.rsvp-section,
.event-section,
.copyright-text,
.btn-1,
.couple-section .couple .sosial-links a:hover i{
 background-color: #ff9800;
}